{{ define "main" }}
{{/* 添加内容容器 */}}
<div class="event-content">
  <article>
    <h1>{{ .Title }}</h1>
    <div class="post-meta">
      <time>{{ .Date.Format "2006-01-02" }}</time>
    </div>
    {{ .Content }}
  </article>
</div>

{{/* 加载样式补丁 */}}
{{ $css := resources.Get "css/events.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $css.Permalink }}">

{{/*
  <footer class="event-footer">
    <div class="footer-inner">
      © {{ now.Format "2006" }} Your Site Name
    </div>
  </footer>
  */}}
{{ end }}